<ion-content class="ion-padding">

  <div>
    <img src="assets/images/logo.png" class="logo404">
    <img src="assets/images/e404.jpg">
    <ion-row class="ion-justify-content-center">
      <h1>Página no encontrada</h1>
    </ion-row>
  </div>

  <ion-row class="ion-justify-content-center">
    <ion-button (click)="volver()" expand="block" class="ion-margin-top btn-e404" shape="round">
      <ion-icon name="log-in" slot="start"></ion-icon>
      Volver al login
    </ion-button>
  </ion-row>

</ion-content>