<app-nav titulo="jelou"></app-nav>

<ion-content>
  <ion-row class="ion-margin">
    <ion-col>
      <h1 class="textoJoke">{{ msje1 }}{{ nombre }} {{ apellido }}{{ msje2 }}</h1>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-button class="btnJoke" shape="circle">
      <ion-row>
        <ion-col>
          <h1 class="textoJoke">Nuevo</h1>
          <h1 class="textoJoke">chiste</h1>
        </ion-col>
      </ion-row>
    </ion-button>
  </ion-row>
</ion-content>

