ion-button {
    width : 270px;
}
ion-input {
    width : 270px;
}
.btn-registro {
    color: #f87d09;
    --border-color: #f87d09;
}
.btn-login {
    --background: #f87d09;
}
.logoAlert {
    width : 50px;
}
